
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

# macOS Finder metadata
.DS_Store

# IDE / editors
.idea/
.vscode/
*.iml

# Node
/node_modules/

# Build output (als je Encore/Webpack gebruikt)
/public/build/

# PHPStorm specifiek (als je dat gebruikt)
*.xml.dist

# OS
Thumbs.db
